/*.bts_button {
	color: transparent;
	background-color: transparent;
	border: none;	
}

.build_button {
	background-image: url('media/button_builds.png');
}*/
body {
	margin-left:auto;
	margin-right:auto;
	width:80%;
	background-color: #000;
}
#_ace3_container {
	margin:auto;
}